* {
  border: none;
}

body {
	overflow : hidden;
}

table {
	
}

td {
	max-width: 150px;
	word-wrap: break-word;
	overflow: hidden;
}

.ellipsis {
  
}

.modal {
    display: block;
    background-color: white;
}

.hide {
    display: none;
}

.container-fluid {
	padding-right : 5%;
	padding-left : 5%;
	margin-top: -5px;
}

.menu-drawer {
    padding : 10px;
    height: 100000px;
    background-color: #f4f4f4;
}

.menu-drawer ul {
    list-style-type: none;
}

.menu-drawer ul li {
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 0;
    min-height: 40px;
    line-height: 40px;
    vertical-align:text-middle;
}
.menu-drawer ul li a {
    text-decoration: none;

}

.menu-drawer ul li a:hover {
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: black;
}

.menu{
    padding : 13px 0px 10px 0px;
}

ul.menu {
    list-style: none;
    padding-left : -5;
    padding-left : -5;
}

.menu a {
    color : black;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none;
    color: #428bca;
}

.menu i {
    padding-right: 5px;
    padding-left: 5px;
}

.drawer-shadow {
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.81);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.81);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.81);
}

.content {
    display: table-row;  /* height is dynamic, and will expand... */
    height: 100%;        /* ...as content is added (won't scroll) */
    background: white;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:1
}

.snap-drawer-left{
    background : red;
}
.pointer {
    cursor : pointer;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    display:block;
    position:absolute;
    top:30px;
    bottom:0px;
    left:20px;
    right:20px;
    z-index: 1000;
}

.error small.error {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: -1.3125em;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: #c60f13;
	color: white;
	margin-left: 116px;
	width: 63%;
	border-radius: 4px;
}

.warning small.warning {
	display: block;
	padding: 0.375em 0.25em;
	margin-top: -1.3125em;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
	background: #c7b810;
	color: white;
	margin-left: 116px;
	width: 63%;
	border-radius: 4px;
}

ul.formlist {
	list-style-type: none;
}

ul.formlist li {
	
}

ul.formlist label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
}

ul.formlist input {
	display:inline-block;
	width: 60%;
	padding: ;
	text-align: left;
	padding-right: 15px;
}

ul.formlist textarea {
	display:inline-block;
	width: 60%;
	height : 40%;
	padding: ;
	text-align: left;
	padding-right: 15px;
}



.snapjs-right .left-drawer,
.snapjs-left .right-drawer {
    display: none;
}

overlay {
	position : absolute;
	top : 10px;
	left : 200px;  
}

.pagination>li>a, .pagination>li>span {
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.428571429;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}

.pagination>li {
display: inline;
}

.pagination>.disabled>span, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
	color: #999;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left: 0;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.tab-content {
overflow: auto;
margin: 10px 0px 10px 0px;

input.ng-invalid {
  border: 1px solid red;
}
input.ng-valid {
  border: 1px solid green;
}



